<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Camellia Cipher - Implementation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('usage') }}">Usage</a></li>
                <li><a href="{{ url_for('algorithm') }}">Algorithm</a></li>
                <li><a href="{{ url_for('implementation') }}">Implementation</a></li>
                <li><a href="{{ url_for('security') }}">Security</a></li>
                <li><a href="{{ url_for('login') }}">Logout</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h1>Implementation</h1>
        <p>The Camellia cipher is designed to be suitable for both software and hardware implementations, making it versatile for a range of devices from low-cost smart cards to high-speed network systems.</p>
        <img src="https://www.crypto-it.net/Images/camellia/scheme_camellia_decryption_eng.png" alt="Camellia Decryption Diagram">
    </div>
</body>
</html>
