<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Camellia Cipher - Security</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <header>
        
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('usage') }}">Usage</a></li>
                <li><a href="{{ url_for('algorithm') }}">Algorithm</a></li>
                <li><a href="{{ url_for('implementation') }}">Implementation</a></li>
                <li><a href="{{ url_for('security') }}">Security</a></li>
                <li><a href="{{ url_for('login') }}">Logout</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h1>Security</h1>
        <p>Camellia is considered a modern, secure cipher. With its security levels comparable to the Advanced Encryption Standard (AES), it is resistant to known cryptographic attacks and is approved for use by ISO/IEC, NESSIE, and CRYPTREC.</p>
        <img src="https://d3i71xaburhd42.cloudfront.net/135c277573df900e993c648f41181616f77be58b/250px/1-Figure1-1.png" alt="Camellia Security">
    </div>
</body>
</html>
